body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;

}

label {
    font-family: 'Nunito', Arial, sans-serif;
    border-radius: 0px 30px 30px 0px;
    background: rgb(121,50,161);
    background: linear-gradient(86deg, rgba(240,164,143,1) 10%, rgba(223,214,125,1) 90%);
    padding: 2%;
    font-size: 2em;
    font-weight: bold;
    display: inline;
}

#tmdb-logo {
    height: 1em;
}

#input {
    background: linear-gradient(86deg, rgba(223,214,125,1) 10%, #71a15b 90%);
    border-radius: 20px;
    height: 4em;
    width: 20vw;
    padding: 5px 10px 5px 5px;

}
input {
    border-radius: inherit;
    height: inherit;
    width: inherit;
    border: 0;
    padding: 0 0 0 5px;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.5em;
}

button {
    background: linear-gradient(90deg, #71a15b 10%, #103275 90%);
    border-radius: 20px;
    height: 3em;
    width: 10vw;
    border: 0;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1%;

}


h1 {
    font-family: 'Nunito', Arial, sans-serif;
    border-radius: 0px 30px 30px 0px;
    background: rgb(121,50,161);
    background: linear-gradient(86deg, rgba(240,164,143,1) 10%, rgba(223,214,125,1) 90%);
    padding: 2%;
    margin-right: 50%;
    }



h2 {
    font-family: 'Comfortaa', Arial, sans-serif;
}

h3, p {
    font-family: 'Gelasio', Georgia, serif;
    font-size: 16px;
}

h2 {
    text-align: center;
}

.columncontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.results {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
}

.cast-list {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.primary {
    width: 220px;
    text-align: center;
}

.poster, .headshot {
    height: 330px;
    width: 220px;
    background-color: gainsboro;
}

/*scrolling ultimately taken from https://blog.hubspot.com/website/hide-scrollbar-css*/
.secondary {
    /*height: 475.5px;*/
    /*overflow-y: scroll;*/
   /* scroll-behavior: smooth;*/
    /*-ms-overflow-style: none; /* for Internet Explorer, Edge */
    /*scrollbar-width: none; /* for Firefox */
    padding-right: 2%;
    padding-left: 2%
}

.secondary::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

footer {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}



