{% include "header.html" %}

<body>
<!--    <div id="first-page">-->
    <form action="{{ url_for('work_input') }}" method="post">
        <label><div>What are you watching?</div></label>
        <div id="input">
        <input type="text" name="work" autofocus>
        </div>
        <button type="submit">Submit</button>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div></div>
{% include "footer.html" %}
<!--</div>-->
</body>