{% include "header.html" %}

<body>
    <form action="{{ url_for('work_input') }}" method="post">
        <label><h1>What are you watching?</h1></label>
        <input type="text" name="work" placeholder="Movie Show">
        <button type="submit">Submit</button>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
{% include "footer.html" %}

</body>