{% include "header.html" %}

<body>
    <h1>Movie Differentiation</h1>
    {% for work in works['movie'] %}
        <a href="{{ url_for('cast_list', medium='movie', work_id=work['id']) }}">
            <img src='{{work["poster"]}}'/>
            <h3>{{work["original_title"]}} : {{work["release_date"]}} : {{work["overview"]}}</h3>
        </a>
    {% endfor %}
    {% for work in works['tv'] %}
        <a href="{{ url_for('cast_list', medium='tv', work_id=work['id']) }}">
            <img src='{{work["poster"]}}'/>
            <h3>{{work["original_title"]}} : {{work["release_date"]}} : {{work["overview"]}}</h3>
        </a>
    {% endfor %}
</body>