{% include "header.html" %}


<body>
    <h1>They were also in:</h1>
    <div class="columncontainer">
        <div class="movie results">
            <h2>Movies</h2>
            {% for work in works['movie'] %}
                <div class="list-item">
                    <div class="primary">
<!--                        <a href="{{ url_for('viewed', medium='movie', work_id=work['id'], person_id=person_id) }}">-->
                        <a href="https://www.themoviedb.org/movie/{{ work['id'] }}" target="_blank" rel="noopener noreferrer">

                        <h3>{{work["original_title"]}}</h3>
                        <img  class="poster" src='{{work["poster"]}}'/>
                        <p>as</p>
                        <p>{{ work['character'] }}</p>
                        </a>
                    </div>
                    <div class="secondary">
                        <h3>Released {{work["release_date"]}}</h3>
                        <p>{{work["overview"]}}</p>
                        <form action="{{ url_for('cast_list', medium='movie', work_id=work['id']) }}" method="post">
                            <button type="submit">Cast List</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="tv results">
            <h2>TV</h2>
            {% for work in works['tv'] %}
            <div class="list-item">
                    <div class="primary">
<!--                        <a href="{{ url_for('viewed', medium='tv', work_id=work['id'], person_id=person_id) }}">-->
                        <a href="https://www.themoviedb.org/tv/{{ work['id'] }}" target="_blank" rel="noopener noreferrer">
                        <h3>{{work["name"]}}</h3>
                        <img class="poster" src='{{work["poster"]}}'/>
                        <p>as</p>
                        <p>{{ work['character'] }}</p>
                        </a>
                    </div>
                    <div class="secondary">
                        <h3>First Aired {{work["first_air_date"]}}</h3>
                        <p>{{work["overview"]}}</p>
                        <form action="{{ url_for('cast_list', medium='tv', work_id=work['id']) }}" method="post">
                            <button type="submit">Cast List</button>
                        </form>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% include "footer.html" %}
</body>
