{% include "header.html" %}

<body>
    <form action="{{ url_for('signin') }}" method="post">

        <button type="button" name="tmdb-account">Sign in to a TMDB account</button>
        <button type="button" name="tmdb-guest">Sign in to a TMDB <strong>guest</strong> account</button>
        <label><div>Sign in to a TMDB <strong>guest</strong> account</div></label>
        <div id="input">
        <input type="text" name="work" autofocus>
        </div>

        <button type="submit">Submit</button>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div></div>
{% include "footer.html" %}
<!--</div>-->
</body>