<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Just to try</title>
    <style>
        .input {
            background-color: powderblue;
            border-radius: 30px;
            height: 2rem;
            width: 5rem;
            padding: 3px;

        }
        input {
            border-radius: inherit;
            height: inherit;
            width: inherit;
            border: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <form action="">
        <div class="label">
            <label for="fname">First name:</label><br>
        </div>
        <div class="input">
            <input type="text" id="fname" name="fname" value="John"><br>
        </div>
    </form>
</body>
</html>